/* BY IDENTIFIER */
#header{
    background-color: #010822;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    padding-top: 10px;
}
#footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #010822;
    color: antiquewhite;
    width: 100%;
    alignment: center;
}
#pivotdrill-logo{
    height: 50px;
    width: 150px;
}
#chatter-box{
    height: 25px;
}
#input-query{
    flex-grow: 2;
    border: none;
}
#settings-heading{
    font-family: "Yu Gothic UI";
    font-weight: bolder;
    position: absolute;
    background-color:#AA3630;
    color: white;
    width: 100px;
    border-radius: 0px 0px 0px 5px;
}
#settings-container{
    background-color: antiquewhite;
    border-radius: 5px 5px 5px 5px;
}
#input-drill{
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    height: 10px;
    color: #010822;
    font-weight: bold;
    background-color: azure;
}
#send-button{
    background-color: #AA3630;
    color: white;
    border: none;
    font-family: "Yu Gothic UI";
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    width: 100px;
}

/* CLASSES */
.workspace{
    background-color:#010822;
    position: absolute;
}
.panel{
    background-color:#010822;
    position: absolute;
}
.hidden{
    display: none;
}
.nounderline {
    text-decoration: none !important;
    cursor: pointer !important;
}
.pivotdrill-heading{
    font-family: "Yu Gothic Light";
    padding: 5px;
}
.centered{
    text-align: center;
}
.text-red{
    color: #AA3630;
    font-weight: bold;
}
.text-orange{
    color: #FFC000;
    font-weight: bold;
}
.bg-error{
    background-color: #AA3630;
    font-weight: bold;
}
.bg-normal{
    background-color: #FFC000;
}
.panel-header{
    font-family: "Yu Gothic UI";
    font-weight: bolder;
    position: absolute;
    background-color:#010822;
    width: 100px;
    height: 25px;
    border-radius: 0px 10px 0px 0px;
    color: white;
}
.panel-container{
    background-color:white;
    position: absolute;
    margin: 5px;
    padding: 5px;
    border-radius: 5px 5px 5px 0px;
    overflow-y: scroll;
}
.field-button-inactive{
    background-color: #E29D9A;
    color: black;
    border: 2px #AA3630 solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
}
.field-button-active{
    background-color: #010822;
    color: #AA3630;
    border: 2px #AA3630 solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
}
.row{
    display: flex;
}
table.pivot-table{
    color: black;
    border: 2px #AA3630 solid;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
    padding: 2px;
}
table.center{
    margin-left:auto;
    margin-right:auto;
}
th.pivot-table{
    background-color: #E29D9A;
    color: black;
    border: 2px #AA3630 solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
}
td.pivot-table-active{
    background-color: #010822;
    color: #AA3630;
    border: 2px #AA3630 solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
}

/* BY ELEMENT */
form{
    display: flex;
    flex-direction: row;
    border: 3px solid #AA3630;
    background-color: white;
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}