/* BY IDENTIFIER */
#header{
    background-color: #010822;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    padding-top: 10px;
}
#footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #010822;
    color: antiquewhite;
    width: 100%;
    alignment: center;
}
#pivotdrill-logo{
    height: 50px;
    width: 150px;
}
#chatter-box{
    height: 25px;
}
#input-query,#input-drill{
    flex-grow: 2;
    border: none;
    font-size: small;
    font-family: "Arial Narrow";
}
#settings-container{
    background-color: antiquewhite;
}
#send-button{
    background-color: #AA3630;
    color: white;
    border: none;
    font-family: "Yu Gothic UI";
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    width: 100px;
}
#clear-button{
    background-color: #225686;
    color: white;
    border: none;
    font-family: "Yu Gothic UI";
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    width: 80px;
}
#form-query{
    border: 3px solid #AA3630;
}
#form-drill{
    border: 3px solid #225686;
}
#settings-padding{
    padding: 10px;
}

/* CLASSES */
.workspace{
    background-color:#010822;
    position: absolute;
}
.panel{
    background-color:#010822;
    position: absolute;
}
.hidden{
    display: none;
}
.nounderline {
    text-decoration: none !important;
    cursor: pointer !important;
}
.pivotdrill-heading{
    font-family: "Yu Gothic Light";
    padding: 5px;
}
.centered{
    text-align: center;
}
.text-red{
    color: #AA3630;
    font-weight: bold;
}
.text-orange{
    color: #FFC000;
    font-weight: bold;
}
.bg-error{
    background-color: #AA3630;
    font-weight: bold;
}
.bg-normal{
    background-color: #FFC000;
}
.panel-footer{
    color: white;
    background-color: #AA3630;
    font-family: "Yu Gothic UI";
    font-weight: bolder;
    position: absolute;
    height: 25px;
    border-radius: 0px 0px 10px 10px;
    text-align: left;
}
.panel-menu{
    background-color: #225686;
    height: 25px;
    width: auto;
    border-radius: 5px 0px 0px 0px;
    padding: 5px;
    align-self: center;
    display: flex;
    align-content: space-between;
}
.panel-container{
    background-color:white;
    position: absolute;
    margin: 5px;
    padding: 5px;
    border-radius: 5px 5px 5px 0px;
    overflow-y: scroll;
}
.field-button-inactive{
    background-color:  #fcb5b5;
    color: #782622;
    border: 2px #782622 solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: smaller;
    border-radius: 5px;
    margin: 1px;
}
.field-button-active{
    background-color: #010822;
    color: #fcb5b5;
    border: 2px #fcb5b5 solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: smaller;
    border-radius: 5px;
    margin: 1px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.drill-button-inactive{
    background-color: #baf8fe;
    color:  #008693;
    border: 2px  #008693 solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
}
.drill-button-active{
    background-color: #010822;
    color:  #baf8fe;
    border: 2px  #baf8fe solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
}
.detail-button-inactive{
    background-color: #e1d1fd;
    color: #6f17ff;
    border: 2px #6f17ff solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
    width: 100%;
}
.detail-button-active{
    background-color: #010822;
    color: #e1d1fd;
    border: 2px #e1d1fd solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: medium;
    border-radius: 5px;
    margin: 1px;
    width: 100%;
}
.detail-container{
    padding: 20px;
    border: 1px #010822 solid;
    border-radius: 5px;
}
.settings-heading{
    font-family: "Yu Gothic";
    color: #621F1C;
    font-size: large;
    font-wieght: bolder;
}
.settings-subheading{
    font-family: "Yu Gothic UI";
    color: #AA3630;
    font-size: medium;
    font-weight: bold;
}

/* BY ELEMENT */
form{
    display: flex;
    flex-direction: row;
    background-color: white;
}
input:focus{
    outline: none;
}

button:focus{
    outline: none;
}
hr.settings{
    color: #AA3630;
}
form.settings-inactive{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 3px solid #AA3630;
}
input.settings-inactive{
    pointer-events: none;
    flex-grow: 2;
    border: none;
}
button.settings-inactive{
    background-color: #AA3630;
    color: white;
    border: none;
    font-family: "Yu Gothic UI";
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    width: 100px;
}
button.panel-menu{
    color: white;
    border: none;
    font-family: "Yu Gothic UI";
    font-weight: bolder;
    height: 100%;
    width: 25px;
}
form.settings-active{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 3px solid #010822;
}
input.settings-active{
    flex-grow: 2;
    border: none;
}
button.settings-active{
    background-color: #010822;
    color: white;
    border: none;
    font-family: "Yu Gothic UI";
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    width: 100px;
}
table.pivot-table{
    color: black;
    border: 2px  #15920d  solid;
    font-family: "Yu Gothic UI";
    font-size: small;
    border-radius: 5px;
    margin: 1px;
    padding: 2px;
}
table.center{
    margin-left:auto;
    margin-right:auto;
}
th.pivot-table{
    background-color:  #a2fd9c;
    color:  #15920d;
    border: 2px  #15920d  solid;
    padding: 5px;
    font-family: "Yu Gothic UI";
    font-size: small;
    border-radius: 5px;
    margin: 1px;
}
td.pivot-table-active-positive{
    background-color: #010822;
    color: #a2fd9c;
    border: 2px #a2fd9c solid;
    font-size: small;
    border-radius: 5px;
}
td.pivot-table-active-negative{
    background-color: #010822;
    color: red;
    border: 2px red solid;
    font-size: small;
    border-radius: 5px;
}
td{
    font-size: small;
    font-family: "Arial Narrow";
}
body{
    background-color: #010822;
}